@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    font-family: 'Didot', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    animation: fadeIn 0.5s ease-in forwards;
    margin: 0;

    overflow-x: hidden;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;



}

a:hover {
    background-color: blue;
    color: white;
}

header nav {
    background-color: white;
}

nav menu {
    display: flex;
    flex-direction: row;
}

#global-nav {
    /* margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; */
}

#logo-div {
    width: 40%;

    transition: all 0.2s ease-in-out;

}

#logo-div p {
    margin-block: 0;
    text-align: right;
    font-style: italic;

}

#logo-div a {
    display: block;
    width: 80%;
    min-width: 300px;
    margin: 0;

    transition: all 0.2s ease-in-out;

}

#logo-div a:hover {
    background-color: white !important;

    scale: 101%;

}

.logo {
    transition: all 0.2s ease-in-out;

}

.logo img {
    width: 100%;
    transition: all 0.2s ease-in-out;

}

.logo img:hover {
    content: url("images/name-logo-hover.svg");
}


nav menu li,
nav ul li {
    list-style-type: none;
    transition: all 0.2s ease-in-out;

}

nav menu li:hover {
    scale: 105%;

}

nav menu li a,
nav ul li a {
    border-radius: 50px;
    border: 2px solid blue;
    background-color: white;
    padding: 10px 20px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    font-size: 1.15rem;

    transition: all 0.2s ease-in-out;

}

nav menu li a:visited,
nav ul li a:visited {
    color: blue;
}

nav menu li a:hover {
    background-color: blue;
    color: white;
    font-style: italic;



}


#nav-expand {
    display: none;
}


.current-page {
    background-color: blue !important;
    color: white !important;
    font-style: italic;
}

main {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}



h2,
h1 {
    font-family: serif;
    font-size: 4rem;

    margin-block-start: 0;
    margin-top: 15px;

    color: blue;
    font-style: italic;

}

h1 {
    font-size: 5rem;
    color: white;

    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;

}


.btn {
    background-color: blue;
    color: white;
    font-family: serif;
    text-decoration: none;
    font-style: italic;
    font-size: 1.15rem;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin: 30px 60px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;


}


.btn:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-style: normal;

}

p {
    color: blue;
    margin: 30px 60px;

}

#cv p {
    margin: 0px 60px;
}

#cv li {
    color: blue;
    margin: 15px 60px !important;
    list-style-type: none;
}

#cv ul {
    margin: 0 auto;
}

h3,
h4 {
    color: blue;
    margin: auto 60px;
}

h3 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin: 30px 60px;


}

h4 {}

hr {
    height: 1px;
    background-color: blue;
    border: none;
    /* margin: 15px 0; */
    width: 100%;
    overflow: visible
}

#contact-form {

    width: 40%;
    margin: auto;
}

#contact-form label {
    color: blue;
    font-style: italic;

}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    font-family: sans-serif
}

#contact-form textarea {
    padding-bottom: 30%;

}

#contact-form button {
    margin-right: 0 !important;
    margin-left: auto !important;
}

footer {

    background-color: blue;
    width: 100%;

    margin-top: 30px;


}

footer p {
    color: white;
    text-align: center;
}


#transparency {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.modal {
    background-color: white;
    width: 90%;
    max-height: 90%;
    padding: 30px;




}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    max-height: 100%;



}

.modal img {
    max-width: 50%;
    max-height: 80vh;
    object-fit: contain;


}


.modal h2 {
    margin: auto 30px;
}


#close-modal {

    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-size: 1.15rem;

    border-radius: 50px;
    padding: 10px 20px;
    height: fit-content;


    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;

}

#close-modal:hover {
    background-color: blue;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;

}



.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5px 5px;
    max-width: 100%;
    margin: auto 60px;


}

#work-content h2 {
    /* margin-block-end: 0; */
    margin: 30px 0;
    text-align: right;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.gallery img {
    /* max-width: 33%; */
    height: 40vh;
    flex-grow: 1;
    object-fit: cover !important;
    object-position: center;
    overflow: hidden;
    cursor: pointer;


}

.vid-gallery,
.art-tech-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    max-width: 100%;
    margin: auto 60px;
    align-items: flex-start;

}

.gallery-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vid-text,
.art-tech-gallery-text {
    margin-left: 30px;
    flex-grow: 1;


}

.vid-text h2,
.art-tech-gallery-text h2 {
    margin-top: 0 !important;
    margin-block-end: 0;
    margin-right: 0 !important;

    text-decoration: none !important;
    font-size: 3.25rem !important;


}

.vid-gallery iframe,
.art-tech-gallery img,
.art-tech-gallery iframe {
    aspect-ratio: 560/315;
    max-width: 40%;
    flex-grow: 1;
}

#illustration,
#graphic-design,
#video,
#art-tech {
    display: none;
}

.hidden {
    display: none !important;
}

.stop-scroll {
    overflow: hidden;
}

.stick-to-top {
    position: fixed;
    top: 0;
    z-index: 200;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    width: 100%;


}

@media (max-width: 970px) {
    #jump-to-section {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-inline-start: 0;


    }


    #jump-to-section li a {
        display: block;
        width: 90%;
        margin: 15px auto;
        text-align: center;

    }
}

@media (max-width:760px) {



    header {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;


    }

    #global-nav {

        display: none;

        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;

        width: 100%;

        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;


    }

    #global-nav li {
        width: 100%;
        margin: 0;
    }

    #global-nav li a {
        display: block;
        border-radius: 0px;
        border: none;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 1.5rem;
        margin: auto 0;
    }



    #logo-div {
        width: 100%;

        transition: all 0.2s ease-in-out;

    }


    #logo-div-2 {
        display: none;
        height: 40vh;

        transition: all 0.2s ease-in-out;

    }

    #logo-div a,
    #logo-div-2 a {
        display: block;
        width: 100%;
        height: 100%;

        transition: all 0.2s ease-in-out;

        /* max-width: 330px; */
    }

    #logo-div p {
        display: none;
    }

    #logo-div a:hover,
    #logo-div-2 a:hover {
        background-color: white !important;

        scale: 101%;

    }

    .logo {
        max-width: 100%;
        max-height: 100%;
    }

    #nav-expand {
        display: block;
        width: 70px;
        aspect-ratio: 1;
        border-radius: 50%;

        border: 2px solid blue;
        background-color: white;
        color: blue;

        text-decoration: none;
        font-size: 2rem;

        padding: 0;

        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 20;
    }

    #nav-expand img {
        width: 100%;
    }

    main {
        width: 90%;
        margin: auto;
    }

    #nav-expand:hover,
    .nav-clicked {
        background-color: blue;
        border: 2px solid white;
        color: white;
    }

    h3 {
        margin-left: 0;
    }

    #contact-form {
        width: 90%;
    }

    .gallery,
    .vid-gallery {
        width: 100%;
        margin: auto auto;
    }

    .gallery-item {
        flex-direction: column;
    }

    .vid-gallery iframe {
        max-width: 100%;
    }

    .vid-text {
        margin-left: 0;
    }

    .modal{
        width: 100%;
        height: 100%;
    }
    .modal-content {
        flex-direction: column;
    }

    .modal img {
        max-width: 100%;
        max-height: 80vh;
        object-fit: contain;


    }

    .modal h2{
        font-size: 2rem;
    }

    #close-modal{
        position:static;
        order: -1;
        align-self: flex-end;
        margin-bottom: 30px;
    }

}