html{
    font-family: serif;

}

body{
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

nav menu{
    display: flex;
    flex-direction: row;
}

#logo-div{
    width: 30%
}

#logo-div p{
    text-align: right;
    font-style: italic;

}
#logo{
    width: 30%;
    min-width: 300px;
    margin: 0;
}
#logo img{
    width: 100%;
}


nav menu li{
    list-style-type: none;
    margin-left: 8px;
    margin-right: 8px;
}

nav menu li a{
    border-radius: 50px;
    border: 2px solid blue;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size:1.15rem;
}

nav menu li a:visited{
    color: blue;
}
nav menu li a:hover{
    background-color: blue;
    color:white;
    font-style: italic;

}

.current-page{
    background-color: blue;
    color:white !important;
    font-style: italic;
}

main{   
    width: 80%;
    margin: auto;
}



h2{
    font-family: serif;
    font-size:4rem;
    color: blue;
    font-style: italic;
}



.btn{
    background-color: blue;
    color: white;
    font-family: serif;
    text-decoration: none;
    font-style: italic;
    font-size: 1.15rem;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin: 30px 60px;
    cursor:pointer;

}


.btn:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-style:normal;

}

p{
    color:blue;
    margin: 30px 60px;

}

#cv p{
    margin: 0px 60px;
}

#cv li{
    color:blue;
    margin:15px 60px !important;
    list-style-type: none;
}

#cv ul{
    margin: 0 auto;
}

h3, h4{
    color:blue;
    margin: auto 60px;
}

h3{
    font-size:1.25rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin: 30px 60px;


}

h4{

}

#contact-form{

    width: 40%;
    margin: auto;
}

#contact-form label{
    color: blue;
    font-style: italic;

}

#contact-form input, #contact-form textarea{
    display: block;
    width: 100%;
    font-family:sans-serif

}

#contact-form textarea{
    padding-bottom: 30%;

}

#contact-form button{
    margin-right:0 !important;
    margin-left: auto !important;
}

footer{

    display:none;
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;

}
footer p{
    color: white;
    text-align: center;
}


#transparency{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.modal{
    background-color: white;
    width: 80%;
    max-height: 80%;
    padding: 30px;




}

.modal-content{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    position:relative;
    max-height: 100%;



}

.modal img{
    max-width: 50%;
    max-height: 80vh;
    object-fit:contain;


}


.modal h2{
    margin: auto 30px;
}


#close-modal{

    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-size: 1.15rem;

    border-radius: 50px;
    padding: 10px 20px;
    height: fit-content;


    cursor:pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:200;

}

#close-modal:hover{
    background-color: blue;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;

}

#jump-to-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5px 5px;
    margin: auto 60px;

}

.gallery img{
    /* max-width: 33%; */
    height: 40vh;
    flex-grow: 1;
    object-fit: cover !important;
    object-position: center;
    overflow:hidden;    
    cursor:pointer;

}

.gallery img:hover{
    /* border-radius: 20px; */

}

.hidden{
    display:none !important;
}

.stop-scroll{
    overflow:hidden;
}